
    <div class="container">
        <div class="jumbotron cabecalho">
            <br>
            <br>
            <h1 class="display-4 titulo">RELATÓRIOS</h1>
            <br>
        </div>
    
        <br>
        <h5 class="btn btn-secondary float-right "><b>Total de Importação: </b>{{ totalImportacao }}</h5>
        <h5 class="btn btn-info float-right marginRight"><b>Total de Exportação:</b> {{ totalExportacao }}</h5>   
        <br>
    
        <table class="table table-striped">
            <thead class="table-light">
            <tr>
                <th>
                    Cliente
                    <br>
                    <input type="search" (change)="filtrar()" 
                    [(ngModel)]="cliente" placeholder="..." class="filtro">
                </th>
                <th>
                    Tipo de Movimentação
                    <br>
                    <select (change)="filtrar()" 
                    [(ngModel)]="tipo" class="filtro">
                        <option value=""></option>
                        <option value="EMBARQUE">EMBARQUE</option>
                        <option value="DESCARGA">DESCARGA</option>
                        <option value="GATE IN">GATE IN</option>
                        <option value="GATE OUT">GATE OUT</option>
                        <option value="POSICIONAMENTO">POSICIONAMENTO</option>
                        <option value="PILHA">PILHA</option>
                        <option value="PESAGEM">PESAGEM</option>
                        <option value="SCANNER">SCANNER</option>
                    </select>
                </th>
                <th>
                    Total
                    <br>
                    <input type="text" value="Filtro" class="filtro"  readonly="true">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movimentacoes of mov_porClient_porTpMov_s">
               <td>
                    {{ movimentacoes.cliente }}
                </td>
                <td>
                    {{ movimentacoes.tipoDeMovimentacao }}
                </td>
                <td>
                    {{ movimentacoes.total }}
                </td>
            </tr>

        </tbody>
        </table>

        
        <br>
        <br>
    </div>
 